* {
	font-family: sans-serif;
	margin: 6px;
}
.contact {
  font-weight: bolder;
}
.container > .design > .designimg {
	width: 100%;
	height: 100%;
	margin: 0;
}
.headertitle {
	font-weight: bold;
	margin: 15px;
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.scheader {
	width: 100vw;
	height: 30vh;
	border: solid 1px #DED9D2;
	box-sizing: border-box;
}
.headertext {
	top: 0;
	margin-left: 300px;
}
.design {
	position: relative;
	align-self: center;
	width: 31vw;
	height: 31vh;
	border: solid 1px #DED9D2;
	transition: 0.4s;
}
.description {
  position: absolute;
  top: 0;
  background: rgba(180, 180, 180, 0.72);
  color: black;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}
.design:hover .description {
  visibility: visible;
  opacity: 1;
}
@media all and (max-width: 599px) and (min-width: 320px) {
  .container {
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
  }
  .scheader {
  	width: 90vw;
  }
  .design {
  	width: 75vw;
  }
  section.headertext {
  	margin-left: 0px;
  }
}
@media all and (max-width: 799px) and (min-width: 420px){
  .container {
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
  }
  .scheader {
  	width: 92vw;
  }
  .design {
  	width: 85vw;
  	height: 45vh;
  }
  .headertext {
  	margin-left: 0px;
  }
}