body {
	margin: 20px;
	background-color: #D19A92;
}
textarea {
	border: solid 2px black;
	box-shadow: 2px 1px 2px 0.1px black;
	border-radius: 7px;
	display: block;
	margin: 10px;
}
textarea:focus {
	transition: 0.3s;
	border-color: #5FB910;
}
button {
	margin-left: 80px;
	width: 70px;
	height: 35px;
	border-radius: 7px;
}
textarea, button {
	padding: 5px;
}
#mycanvas {
	border: 5px groove;
	border-radius: 5px;
}