* {
  font-family: arial;
  font-size: 14px;
}
h2 {
  padding: 10px;
}
section {
  text-align: center;
}
.item-a {
  height: 150px;
  background-color: #817878;
}
.item-b {
  width: 24.25%;
  background-color: #E64B4B;
}
.item-c {
  width: 49.25%;
  background-color: #EA9D0E;
}
.item-b, .item-c {
  height: 340px;
  float: left;
}
.item-c2 {
  height: 130px;
}
.item-c1, .item-c3 {
  height: 75px;
}
.item-c1, .item-c2, .item-c3 {
  background-color: #5B3E7F;
}
.item-d {
  width: 24.25%;
  height: 340px;
  float: right;
  background-color: #2F769F;
}
.item-e {
  height: 100px;
  background-color: #428A16;
  bottom: 0;
  clear: both;
}
.item-a,
.item-b,
.item-c,
.item-c1,
.item-c2,
.item-c3,
.item-d,
.item-e {
  margin: 5px;
  box-sizing: border-box;
	border-radius: 10px;
}
.header > h2 {
  font-size: 46px;
}
.header, .footer {
  background-color: magenta;
}
.navigation, .sidebar, article.item-c2 {
  background-color: blue;
}
.footer > h2 {
  font-size: 10px;
}
.content > h2 {
  font-size: 14px;
}
.navigation > h2 {
  font-size: 12px;
}
.sidebar > h2 {
  font-size: 10px;
}
.content {
  opacity: 1;
  transition: opacity 2s;
}
.content .hide {
  opacity: 0;
}
.show {
  animation: fade_in 1.4s;
}
.hide {
  opacity: 0;
}
.button {
  margin-left: -370px;
  margin-top: 350px;
}
@keyframes fade_in {
  from {opacity: 0;}
  to {opacity: 1;}
}